<%- include("../partials/header") %>
    <main class="container">
        <div class="p-5 rounded mt-3">
            <h3>Your Scrambles</h3>
            <ul class="list-group list-group"> 
                <%scrambles.forEach(function(scramble) {%>
                <a href="/scrambles/view/<%= scramble._id %>" style="text-decoration: none;">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold"><%= scramble.title %></div>
                        <%= scramble.description %>
                    </div>
                    <span class="badge rounded-pill" style="background-color: rgb(219, 178, 0); color: rgb(0, 0, 0);"><%= scramble.participants.length %></span>
                </li>
            </a>
                <%})%>
            </ul>
        </div>
    </main>
    <%- include("../partials/footer") %>