<%- include("../partials/header") %>
<main class="container">
    <h2><%= scramble.title %></h2>
    <p><h4><%= scramble.description %></h4></p> 
    <div class="flex-wrapper">
        <div class="p-5 rounded mt-3">
            <form action="/invites/scrambles/<%= id %>/join" method="POST">
                <div class="mb-3">
                    <label for="inputAnswer" class="form-label"><%= scramble.prompt %></label>
                    <input type="text" class="form-control" id="inputAnswer" aria-describedby="inputAsnwerHelp" name="answer" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit Answer</button>
            </form>
        </div>
    </div>
</main>
<%- include("../partials/footer") %>