<div class="row">
    <div class="col">
        <p>You are the creator</p>
    </div>
    <div class="col d-flex justify-content-end">
        <% if (locked===false) { %>
            <form action="/scrambles/<%= scramble._id %>/<%= id %>/lock" method="POST">
            <button class="flat-button" type="submit"><h4>Lock <i class="bi bi-unlock" aria="Lock Scramble" title="Lock Scramble"></i></h4></button>
        <% } else {%>
            <form action="/scrambles/<%= scramble._id %>/<%= id %>/unlock" method="POST">
            <button class="flat-button" type="submit"><h4>Unlock <i class="bi bi-lock" aria="Unlock Scramble" title="Unlock Scramble"></i></h4></button>
        <% } %>
    </form>
    </div>
</div>

<h2><%= scramble.title %></h2>
<p><h4><%= scramble.description %></h4></p>

<div class="row">
    <div class="col">
    </div>
    <div class="col">
        <% scramble.participants.forEach(function(participant) { %>
            <img class="rounded-circle shadow border" alt="avatar" src="<%= participant.avatar %>"
                style="width: 40px; height: 40px;margin-right: 4px;" />
            <% }) %>
    </div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Answer</th>
            <th scope="col">Posted By</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% scramble.answers.forEach(function(answer) { %>
            <tr>
                <td>  
                    <%= answer.text %>
                </td>
                <td>
                    <%= answer.postedBy.name %>
                </td>
                <td>
                    <% if (locked === false && answer.postedBy._id.toString() === id) { %>
                    <a href="/scrambles/<%= scramble._id %>/<%= id %>/edit"><i class="bi bi-pencil" style="color:green"></i></button></a>
                    <% } %>
                </td>
            </tr>
            <% }) %>
    </tbody>
</table>
<div>

    <div style="margin-bottom: 25px">
        <form action="/scrambles/action-scramble" method="POST">
        <input type="text" value="<%= scramble.id %>" style="visibility: hidden; display:none;" name="id">
        <% if (locked===false) { %>
            <button type="button" class="btn btn-outline-secondary" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Scramble must be locked first">Scramble!</button>
        <% } else { %>
            <button type="submit" class="btn btn-outline-primary">Scramble!</button>
        <% } %>
        </form> 
    </div>
    <h4>Share</h4>
    <ul class="nav nav-tabs" id="share" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">QRCode</a>
        </li>
    </ul>
    <div class="tabs-content" id="share-content" style="margin-top: 15px;">
        <% if (locked===false) { %>
        <div class="input-text list-group">
            <input type="text" id="social_input" value="https://scramble-ga.herokuapp.com/invites/<%= scramble._id %>" class="list-group-item">
            <i class="fa fa-copy"></i> 
        </div>
        <% } else { %>
        <h5><p>This Scramble is locked. Unlock to invite more participants.</p></h5>
        <% } %>
    </div>
</div>